

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    color: #4b34df;
    padding-top: 60px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
  }